.btn-big {
    width: 37rem;
    height: 4rem;
    border-radius: 4px;
    background-color: $color-purple;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-gray-1, .2);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba($color-gray-1, .2);
    }


    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: $color-purple;
    }

    &:hover::after {
        transform: scale(1.4) scaleY(1.6);
        opacity: 0;
    }

    // &-animated {
    //     animation: moveInBottom .5s ease-out .75s;
    //     animation-fill-mode: backwards;
    // }
}

