.home-main { 
    width: calc(100% - 2* #{$margin-main});
    display: flex;
    flex-direction: row;
    margin: 0 $margin-main;
    padding-top: 3.8rem;

    .section-main-info {
        width: calc((100% / 3) * 2);
        height: 100vh;

        &> * {
            margin-bottom: $margin-section-end;
        }

        &-porfolio-list {
            margin-top: $margin-heading-content;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;

            &-image {
                width: 24rem;
                height: 18rem;
                border-radius: 4px;
                overflow: hidden;

                .porfolio-image {
                    width: 110%;
                    height: 130%;
                }
            }
        }

    }
    
    .section-additional-info {
        width: calc(100% / 3);
        height: 100vh;

        &-button {
            width: 100%;
            transition: all 0.2s;

            &:hover {
                
            }
        }

        &-feature-box,
        &-attachments,
        &-button{
            margin-left: 2.5rem;
        }
        &-feature-box,
        &-attachments{
            margin-top: 3.2rem;
        }
        &-attachments {
            &-list{
                margin-top: $margin-heading-content;
                display: flex;
                justify-content: space-between;
                &-item {
                    width: calc((100% - 2rem)/2);
                    border: none;
                    height: 6.4rem;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                    color: $color-purple;
                    -webkit-clip-path: polygon(86% 0, 100% 20%, 99% 100%, 50% 100%, 0 100%, 0 0);
                    clip-path: polygon(86% 0, 100% 20%, 99% 100%, 50% 100%, 0 100%, 0 0);
                    cursor: pointer;
                    position: relative;
                    transition: all 0.2s;

                    .subtract-triangle{
                        height: 1.6rem;
                        width: 2.6rem;
                        background-color: $color-gray-4;
                        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
                        clip-path: polygon(0 0, 0% 100%, 100% 100%);
                        color: $color-gray-4;
                        position: absolute;
                        top: 0;
                        left: 85%;
                    }

                    &:link,
                    &:visited{
                        background-color: $color-gray-6;
                    }

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 10rem 10rem 20rem $color-gray-1;
                    }
                }
            }
        }
    }
    
}


