// Color
$color-header-background: #341754;

$color-purple: #9B51E0;

$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-4: #BDBDBD;
$color-gray-6: #F2F2F2;
// FONT
$default-font-size: 1.6rem;

// SIZE
$width: 192rem;

// MARGIN
$margin-main:  18%;
$margin-heading-content: 2.4rem;
$margin-section-end: 4.8rem;

// GRID
